<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.david.hlp.Spring.repeater.mapper.ProjectMapper">
    <insert id="insertProject" parameterType="com.david.hlp.Spring.repeater.module.entity.Project">
        INSERT INTO project (project_name, doc, gmt_create, gmt_modified)
        VALUES (#{projectName}, #{doc}, NOW(), NOW())
    </insert>

    <select id="listProject" resultType="com.david.hlp.Spring.repeater.module.entity.Project">
        SELECT id, project_name, doc, gmt_create, gmt_modified, is_deleted
        FROM project
        <where>
            <if test="project != null">
                <if test="project.projectName != null and project.projectName != ''">
                    AND project_name LIKE CONCAT('%', #{project.projectName}, '%')
                </if>
                <if test="project.isDeleted != null">
                    AND is_deleted = #{project.isDeleted}
                </if>
            </if>
            AND (is_deleted = 0 OR is_deleted IS NULL)
        </where>
        ORDER BY gmt_create DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countProject" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM project
        <where>
            <if test="project != null">
                <if test="project.projectName != null and project.projectName != ''">
                    AND project_name LIKE CONCAT('%', #{project.projectName}, '%')
                </if>
                <if test="project.isDeleted != null">
                    AND is_deleted = #{project.isDeleted}
                </if>
            </if>
            AND (is_deleted = 0 OR is_deleted IS NULL)
        </where>
    </select>

    <update id="updateProject" parameterType="com.david.hlp.Spring.repeater.module.entity.Project">
        UPDATE project
        <set>
            <if test="projectName != null and projectName != ''">
                project_name = #{projectName},
            </if>
            <if test="doc != null">
                doc = #{doc},
            </if>
            gmt_modified = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!-- deleteProject -->

    <delete id="deleteProject">
        UPDATE project
        SET is_deleted = 1
        WHERE id = #{id}
    </delete>

    <!-- listAllProject --> 

    <select id="listAllProject" resultType="com.david.hlp.Spring.repeater.module.entity.Project">
        SELECT id, project_name, doc, gmt_create, gmt_modified, is_deleted
        FROM project
        WHERE is_deleted = 0
    </select>
</mapper>