<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.david.hlp.Spring.repeater.mapper.RouterUrlMapper">
    <!-- 公共查询列 -->
    <sql id="Base_Column_List">
        id, host, port, router, protocol, unique_id, type, http_method, doc, gmt_create, gmt_modified, is_deleted
    </sql>

    <!-- 插入路由信息 -->
    <insert id="insertRouterUrl" parameterType="com.david.hlp.Spring.repeater.module.dto.RouterProjectDTO">
        INSERT INTO router_url (
            host, port, router, protocol, unique_id, type, http_method, doc, gmt_create, gmt_modified, is_deleted
        ) VALUES (
            #{host}, #{port}, #{router}, #{protocol}, #{uniqueId}, #{type}, #{httpMethod}, #{doc}, NOW(), NOW(), 0
        )
    </insert>

    <!-- 更新路由信息 -->
    <update id="updateRouterUrl" parameterType="com.david.hlp.Spring.repeater.module.entity.RouterUrl">
        UPDATE router_url
        <set>
            <if test="host != null">host = #{host},</if>
            <if test="port != null">port = #{port},</if>
            <if test="router != null">router = #{router},</if>
            <if test="protocol != null">protocol = #{protocol},</if>
            <if test="uniqueId != null">unique_id = #{uniqueId},</if>
            <if test="httpMethod != null">http_method = #{httpMethod},</if>
            <if test="type != null">type = #{type},</if>
            <if test="doc != null">doc = #{doc},</if>
            gmt_modified = NOW()
        </set>
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <!-- 删除路由信息(软删除) -->
    <update id="deleteRouterUrl" parameterType="com.david.hlp.Spring.repeater.module.entity.RouterUrl">
        UPDATE router_url
        SET is_deleted = 1, gmt_modified = NOW()
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <!-- 统计路由数量 -->
    <select id="countRouterUrl" parameterType="com.david.hlp.Spring.repeater.module.entity.RouterUrl" resultType="java.lang.Long">
        SELECT COUNT(*) FROM router_url
        <where>
            is_deleted = 0
            <if test="host != null and host != ''">AND host LIKE CONCAT('%', #{host}, '%')</if>
            <if test="port != null">AND port = #{port}</if>
            <if test="router != null and router != ''">AND router LIKE CONCAT('%', #{router}, '%')</if>
            <if test="protocol != null and protocol != ''">AND protocol = #{protocol}</if>
            <if test="uniqueId != null and uniqueId != ''">AND unique_id = #{uniqueId}</if>
            <if test="type != null">AND type = #{type}</if>
            <if test="httpMethod != null">AND http_method = #{httpMethod}</if>
        </where>
    </select>

    <resultMap id="RouterProjectDTO" type="com.david.hlp.Spring.repeater.module.dto.RouterProjectDTO">
        <id property="id" column="id" />
        <result property="host" column="host" />
        <result property="port" column="port" />
        <result property="router" column="router" />
        <result property="protocol" column="protocol" />
        <result property="uniqueId" column="unique_id" />
        <result property="type" column="type" />
        <result property="httpMethod" column="http_method" />
        <result property="doc" column="doc" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="isDeleted" column="is_deleted" />
        <collection property="projects" ofType="com.david.hlp.Spring.repeater.module.entity.Project">
            <id property="id" column="projects.id" />
            <result property="projectName" column="projects.project_name" />
            <result property="doc" column="projects.doc" />
            <result property="gmtCreate" column="projects.gmt_create" />
            <result property="gmtModified" column="projects.gmt_modified" />
            <result property="isDeleted" column="projects.is_deleted" />
        </collection>
    </resultMap>

    <!-- 分页查询路由信息 -->
    <select id="listRouterUrl" resultMap="RouterProjectDTO">
        SELECT
            ru.id, ru.host, ru.port, ru.router, ru.protocol, ru.unique_id as unique_id,
            ru.type, ru.http_method as http_method, ru.doc, ru.gmt_create as gmt_create,
            ru.gmt_modified as gmt_modified, ru.is_deleted as is_deleted,
            p.id as "projects.id", p.project_name as "projects.project_name",
            p.doc as "projects.doc", p.gmt_create as "projects.gmt_create",
            p.gmt_modified as "projects.gmt_modified", p.is_deleted as "projects.is_deleted"
        FROM (
            SELECT *
            FROM router_url
            <where>
                is_deleted = 0
                <if test="routerUrl.host != null and routerUrl.host != ''">AND host LIKE CONCAT('%', #{routerUrl.host}, '%')</if>
                <if test="routerUrl.port != null">AND port = #{routerUrl.port}</if>
                <if test="routerUrl.router != null and routerUrl.router != ''">AND router LIKE CONCAT('%', #{routerUrl.router}, '%')</if>
                <if test="routerUrl.protocol != null and routerUrl.protocol != ''">AND protocol = #{routerUrl.protocol}</if>
                <if test="routerUrl.uniqueId != null and routerUrl.uniqueId != ''">AND unique_id = #{routerUrl.uniqueId}</if>
                <if test="routerUrl.type != null">AND type = #{routerUrl.type}</if>
                <if test="routerUrl.httpMethod != null">AND http_method = #{routerUrl.httpMethod}</if>
            </where>
            ORDER BY id DESC
            LIMIT #{pageSize} OFFSET #{offset}
        ) ru
        LEFT JOIN router_project_url rpu ON ru.id = rpu.router_id
        LEFT JOIN project p ON p.id = rpu.project_id
    </select>

    <!-- 查询所有路由信息 -->
    <select id="listAllRouterUrl" resultType="com.david.hlp.Spring.repeater.module.entity.RouterUrl">
        SELECT
        <include refid="Base_Column_List" />
        FROM router_url
        WHERE is_deleted = 0
        ORDER BY id DESC
    </select>

    <!-- listRouterProjectById -->

    <select id="listRouterProjectById" resultType="com.david.hlp.Spring.repeater.module.entity.RouterProject">
        SELECT * FROM router_project_url WHERE router_id = #{id}
    </select>

    <!-- deleteRouterProject -->

    <delete id="deleteRouterProject">
        DELETE FROM router_project_url
        <where>
            <foreach collection="list" item="item" separator="OR">
                (router_id = #{item.routerId} AND project_id = #{item.projectId})
            </foreach>
        </where>
    </delete>

    <!-- insertRouterProject -->

    <insert id="insertRouterProject">
        INSERT IGNORE INTO router_project_url (router_id, project_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.routerId}, #{item.projectId})
        </foreach>
    </insert>

    <!-- selectRouterIdByUniqueId -->

    <select id="selectRouterIdByUniqueId" resultType="java.lang.Long" parameterType="java.lang.String">
        SELECT id FROM router_url WHERE unique_id = #{uniqueId}
    </select>

    <!-- deleteRouterRole -->

    <delete id="deleteRouterRole">
        DELETE FROM router_role_url WHERE router_id = #{routerId} AND role_id = #{roleId}
    </delete>

    <!-- insertRouterRole -->

    <insert id="insertRouterRole">
        INSERT INTO router_role_url (router_id, role_id) VALUES (#{routerId}, #{roleId})
    </insert>

    <!-- listRouterRoleByRoleId -->

    <select id="listRouterRoleByRoleId" resultType="com.david.hlp.Spring.repeater.module.entity.RouterRole">
        SELECT * FROM router_role_url WHERE role_id = #{roleId}
    </select>

    <!-- listRouterUrlByProjectId -->

    <select id="listRouterUrlByProjectId" resultType="com.david.hlp.Spring.repeater.module.entity.RouterUrl">
        SELECT * FROM router_url WHERE id IN (
            SELECT router_id FROM router_project_url WHERE project_id = #{projectId}
        )
    </select>
</mapper>
